$dark: #333333;
$light: #fcfcfc;
$primary: #3333cc;
$secondary: $dark;
$success: green;
$warning: orange;
$danger: #990000;
$info: #66ca66;
$baseFontSize: 16px;
$inputColumns: 3;
$rwdMinWidth: 800px;

//---------------------------------------------------------------------------

.fade-enter,
.fate-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

//---------------------------------------------------------------------------

body {
  margin: 0;
  padding-bottom: 20px;
  color: $dark;
  font-size: $baseFontSize;
}
h1,
h2 {
  color: $primary;
}
.dash-line {
  border-bottom: 1px dashed adjust-color($color: $dark, $lightness: 20%);
  margin: 5px auto;
}

#app {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  height: 100%;
  font-size: 100%;
  textarea {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto;
    width: 100%;
    min-height: 200px;
    display: block;
  }

  code {
    padding: 2px;
    color: adjust-color($color: $danger, $lightness: 10%, $alpha: 0.1);
    font-weight: 800;
    font-size: larger;
    border-radius: 4px;
  }
  ul {
    margin-top: 0;
    overflow: hidden;
  }
  > .pageHeader {
    position: relative;
  }
  > .pageContent {
    position: relative;

    .group-content {
      position: relative;
    }

    > .input-group {
      position: relative;
      label {
        font-size: 1rem;
        padding: 10px 0;
        display: inline-block;
        width: 100% / $inputColumns;

        @media screen and (max-width: $rwdMinWidth) {
          width: 50%;
        }
      }
      input[type='text'],
      input[type='number'] {
        text-align: center;
        margin-left: 1em;
        border-width: 1px;
        border-radius: 4px;
        width: 150px;
      }
      > .group-content {
        padding: 10px;
        border: 1px solid adjust-color($color: $light, $lightness: -25%);
        border-radius: 4px;
        font-size: 0;
      }
      .pck-matches {
        position: relative;
        > ul {
          font-size: 1rem;
          margin: 0;
          margin-top: 1em;
          max-height: 420px;
          overflow-y: auto;
          li {
            cursor: pointer;
            color: adjust-color($color: $dark, $lightness: 40%);

            &:hover {
              font-weight: 800;
              color: $dark;
            }
            &.match {
              color: $success;
              font-weight: 800;
              cursor: default;
            }
          }
        }
      }
      .raw-input {
        position: relative;
      }
    }

    > .output-group {
      overflow: hidden;
      position: relative;
      > .group-content {
        max-width: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        float: left;
        font-size: 0;

        @media screen and (max-width: $rwdMinWidth) {
          max-width: 100%;
        }

        > textarea {
          margin: 0;
          min-height: 600px;
        }
      }
      li {
        font-size: 0.925rem;
        line-height: 1.5;
      }
    }
  }
}
