<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge"
    >
    <title>Destiny Child Live2D tool</title>
    <link
        rel="stylesheet"
        href="./style/style.css"
    >
</head>

<body>
    <div id="app">
        <div class="pageHeader">
            <h1>Destiny Child Live2D tool</h1>
        </div>
        <div class="pageContent">
            <div class="input-group">
                <div v-show="!isOutputJSON">
                    <input
                        type="checkbox"
                        id="editRefData"
                        v-model="editRefData"
                    >
                    <label for="editRefData">編輯參照檔</label>
                </div>
                <div
                    class="raw-input"
                    v-show="!refPck || !refSoundText || editRefData"
                >
                    <hr>
                    <h2>模型參照檔</h2>
                    <textarea
                        placeholder="vid    name    description"
                        v-model="refPck"
                    ></textarea>
                    <h2>對話參照檔</h2>
                    <textarea
                        placeholder="sound    text"
                        v-model="refSoundText"
                    ></textarea>
                </div>
            </div>

            <div
                class="input-group"
                v-if="refPck && !editRefData"
            >
                <h2>必要設定</h2>
                <div class="group-content">
                    <label>pck檔名<input
                            type="text"
                            name="vid"
                            maxlength="7"
                            placeholder=""
                            v-model.trim="vid"
                        ></label>
                    <label>角色名<input
                            type="text"
                            name="name"
                            maxlength="10"
                            placeholder=""
                            v-model.trim="name"
                        ></label>
                    <label>素材圖數量<input
                            type="number"
                            name="textures"
                            maxlength="2"
                            placeholder="*.png 素材圖數量"
                            v-model="textures"
                        ></label>
                    <div
                        class="pck-matches"
                        v-show="pckListLength > 0 && !isOutputJSON"
                    >
                        <div class="dash-line"></div>
                        <ul>
                            <li
                                v-for="info in pckInfo"
                                :class="{match:(pckListLength===1 && vid === info.vid)}"
                                @click="findPck(info)"
                            >({{info.vid}}){{info.name | nameFormat}}</li>
                        </ul>
                    </div>

                </div>
            </div>

            <transition
                name="fade"
                mode="out-in"
                appear
            >
                <div
                    class="output-group"
                    v-if="isOutputJSON"
                >
                    <hr>
                    <h2>封裝檔案步驟</h2>
                    <div class="group-content">
                        <textarea v-if="outputContent">{{outputContent}}</textarea>
                    </div>
                    <div class="group-content">
                        <ol>
                            <li>將 <strong>*.json</strong> 更名為
                                <code>{{vid}}.{{settings.main.extension}}</code>
                                ，並以前述內容取代
                            </li>
                            <li>將 <strong>*.{{settings.motions.extension}}</strong> 更名為
                                <ul>
                                    <li v-for="(tap) in (settings.motions.taps)"><code>{{vid}}_{{tap}}.{{settings.motions.extension}}</code></li>
                                    <li><code>{{vid}}_{{settings.motions.idle}}.{{settings.motions.extension}}</code></li>
                                </ul>
                            </li>
                            <li>將 <strong>*.{{settings.model.extension}}</strong> 更名為
                                <ul>
                                    <li><code>{{outputContent.model}}</code></li>
                                </ul>
                            </li>
                            <li>將 <strong>*.png</strong> 更名為
                                <ul>
                                    <li v-for="texture in (outputContent.textures)">
                                        <code>{{texture}}</code>
                                    </li>
                                </ul>

                            </li>

                            <li>將以下檔案拷貝至資料夾中
                                <input
                                    type="checkbox"
                                    id="isGeneralSound"
                                    v-model="isGeneralSound"
                                >
                                <label for="isGeneralSound">通用語音檔</label>
                                <ul>
                                    <li v-for="(tap, key) in (outputContent.motions.tap)"><code>{{tap.sound}}</code></li>
                                </ul>
                            </li>
                            <li>
                                將資料夾壓縮為<code>zip</code>格式檔案
                            </li>
                        </ol>
                    </div>
                </div>
            </transition>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js'></script>
    <script src="./script/script.js"></script>
    <script>
    </script>
</body>

</html>